# Prediction : Leave or not

## importing Libraries

In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

## Data Understanding

In [6]:
raw_data = pd.read_csv("Employee.csv")
raw_data

      Education  JoiningYear  ... ExperienceInCurrentDomain  LeaveOrNot
0     Bachelors         2017  ...                         0           0
1     Bachelors         2013  ...                         3           1
2     Bachelors         2014  ...                         2           0
3       Masters         2016  ...                         5           1
4       Masters         2017  ...                         2           1
...         ...          ...  ...                       ...         ...
4648  Bachelors         2013  ...                         4           0
4649    Masters         2013  ...                         2           1
4650    Masters         2018  ...                         5           1
4651  Bachelors         2012  ...                         2           0
4652  Bachelors         2015  ...                         4           0

[4653 rows x 9 columns]